header {
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

button {
    background-color: red;
    border-color: red;
    align-content: center;
    padding: 10px 15px;
    border-radius: 20px;
    cursor: pointer;
}

button:hover{
    background-color: pink;
    border-color: pink;
}

footer{
    align-self: flex-end;
}

section{
    flex: 1;
}

